.block_meet_the_students .content  {
    margin: -2px;
}

.block_meet_the_students .user_icon {
    display:inline-block;
}

.block_meet_the_students .user_margin {
    margin: 2px;
}

.block_meet_the_students .user_picture {
    width: 100%;
    height: auto;
}

.block_meet_the_students .footer {
    text-align: center;
}

/* Temp fix until converted to plugin */
#page-blocks-meet_the_students-course #region-main .card-block {
    display: inline;
    padding: 0;
    border: none;
}

#page-blocks-meet_the_students-course [data-region="blocks-column"] {
    width: 100% !important;
}
